
@media(max-width:1920px){
.form_section{
    background-color: var(--bgc-form);
    width: auto;
    height: 750px;
    margin-top: 230px;
    margin-bottom: 410px ;
    display: flex;
    justify-content: center;
    }
}

@media(max-width:640px) and (min-width:320px){
.form_section{
    width: 414px;
    margin-top: 350px;
    margin-bottom: 410px ;
    }
}