.chars{
    position: relative;
    width: auto;
    max-width: 378px;
    max-height: 550px;
    bottom: 84px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
}

.char_text{
    position: relative;
    width: 300px;
    bottom: 50px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
    color: var(--letter-black);
    line-height: 25px;
}

.quadrado{
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 25%;
    height: 428px;
    background-color: var(--bgc-color);
    z-index: 1;
    bottom: 28px;
}

.quadrado_externo{
    position: relative;
    background-color: #fff;
    border-radius: 15%;
    height: 660px;
    z-index: 0;
    top: 30px;
}

