:root{
    --bgc-color: #363636;
    --bgc-form: #7DEDE2;
    --letter-standard-color: #ffffff;
    --letter-black: #000000;
    --letter-form: #63C7A9;
    --letter-small: 15px;
    --letter-standard: 20px;
    --letter-title: 22,5;
    --letter-font:"Montserrat", sans-serif;
    --letter-text:"Open Sans", sans-serif;
}

body{
    background-color: var(--bgc-color);
    font-size: var(--letter-standard);
    color: var(--letter-standard-color);
}