.principal_bgc{
    position: absolute;
    max-width: 100%;
}

@media (max-width:1920px){
.card_principal{
   position: absolute;
   max-width: 100%;
   width: 550px;
   height: 840px;
   margin-left: 50%;
   margin-right: 50%;
   transform: translate(-50%);
   margin-top: 90px;
   z-index: 1;
   }

.card_sprite{
    max-width: 100%;
    width: 620px;
    height: 1080px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%); 
}

.card_feather:nth-last-of-type(1){
    position: absolute;
    top: 500px;
    right:650px;
    z-index: 1;
} 

.card_feather:nth-last-of-type(2){
    position: absolute;
    top: 650px;
    right:550px;
    z-index: 1;
} 

.card_feather:nth-last-of-type(3){
    position: absolute;
    top: 680px;
    left:670px;
    z-index: 1;
} 

.card_feather:nth-last-of-type(4){
    position: absolute;
    top: 550px;
    left:610px;
    z-index: 1;
} 

.card_principal_text{
    position: absolute;
    top: 1070px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    width: 270px;
    letter-spacing: 1px;
    font-family: var(--letter-text);
}

}


@media (max-width:1024px) and (min-width:800px){
    .card_principal{
       position: absolute;
       max-width: 100%;
       width: 30%;
       height: 32%;
       margin-left: 50%;
       margin-right: 50%;
       transform: translate(-50%);
       margin-top: 50px;
       z-index: 1;
       }

       .card_sprite{
        max-width: 100%;
        width: 35%;
        height: 30%;
        margin-left: 50%;
        margin-right: 50%;
        transform: translate(-50%); 
    }
    
    .card_feather:nth-last-of-type(1){
        position: absolute;
        top: 250px;
        left:450px;
        z-index: 1;
        width: 10%;
        height: 10%
    } 
    
    .card_feather:nth-last-of-type(2){
        position: absolute;
        top: 320px;
        left:490px;
        z-index: 1;
        width: 10%;
        height: 10%
    } 
    
    .card_feather:nth-last-of-type(3){
        position: absolute;
        top: 330px;
        left:265px;
        z-index: 1;
        width: 10%;
        height: 10%
    } 
    
    .card_feather:nth-last-of-type(4){
        position: absolute;
        top: 260px;
        left:250px;
        z-index: 1;
        width: 10%;
        height: 10%
    } 

    .card_principal_text{
        position: absolute;
        top: 630px;
        margin-left: 50%;
        margin-right: 50%;
        transform: translateX(-50%);
        z-index: 1;
        text-align: center;
        width: 270px;
        letter-spacing: 1px;
        font-family: var(--letter-text);
    }
}

@media (max-width:640px) and (min-width:320px){
    .card_principal{
        position: absolute;
        max-width: 100%;
        width: 25%;
        height: 22%;
        margin-left: 50%;
        margin-right: 50%;
        transform: translate(-50%);
        margin-top: 20px;
        z-index: 1;
       }

       .card_sprite{
        max-width: 100%;
        width: 35%;
        height: 30%;
        margin-left: 50%;
        margin-right: 50%;
        transform: translate(-50%); 
    }

    .card_feather:nth-last-of-type(1){
        position: absolute;
        top: 150px;
        left:190px;
        z-index: 1;
        width: 10%;
        height: 10%
    } 
    
    .card_feather:nth-last-of-type(2){
        position: absolute;
        top: 200px;
        left:200px;
        z-index: 1;
        width: 10%;
        height: 10%
    } 
    
    .card_feather:nth-last-of-type(3){
        position: absolute;
        top: 200px;
        left:100px;
        z-index: 1;
        width: 10%;
        height: 10%
    } 
    
    .card_feather:nth-last-of-type(4){
        position: absolute;
        top: 155px;
        left:95px;
        z-index: 1;
        width: 10%;
        height: 10%
    } 

    .card_principal_text{
        position: absolute;
        top: 300px;
        margin-left: 50%;
        margin-right: 50%;
        transform: translateX(-50%);
        z-index: 1;
        text-align: center;
        width: 100px;
        letter-spacing: 1px;
        font-family: var(--letter-text);
        font-size: 8px;
    }
}