@media (max-width: 1920px)
{
    .Container_header{
        display: flex;
        width: auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
}

@media (min-width: 800px) and (max-width: 1024px)
{
    .Container_header{
        width: auto;
        justify-content: center;
        margin-bottom: 0px;
    }
}

@media (min-width: 320px) and (max-width:640px)
{
    .Container_header{
        width: auto;
        justify-content: center;
        margin-bottom: 0px;
    }
}