.text_logo{
    text-transform: uppercase;
    font-size: var(--letter-title);
    font-weight: bold;
    font-family: var(--letter-font);
    letter-spacing: 1px;
    padding-left: 30px;
}

@media (min-width: 320px) and (max-width:640px)
{
    .text_logo{
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        font-family: var(--letter-font);
        padding-left: 5px;
    }
}