@media (max-width: 1920px){
.section2_container{
    display: flex;
    margin-left: 270px;
    margin-right: 270px;
    margin-top: 218px;
    justify-content: space-between;
    width: auto;
    height: auto;
}
}

@media (max-width: 1024px) and (min-width:800px){
    .section2_container{
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        justify-content: space-between;
        width: auto;
    }

    .quadrado_externo:nth-last-of-type(2){
        position: relative;
        background-color: #fff;
        border-radius: 15%;
        height: 660px;
        z-index: 0;
        top: 90px;
    }
    
    
    .quadrado_externo:nth-last-of-type(1){
        position: relative;
        background-color: #fff;
        border-radius: 15%;
        height: 660px;
        z-index: 0;
        top: 165px;
    }
}

@media (min-width: 320px) and (max-width:640px){
    .section2_container{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
    }

    .quadrado_externo:nth-last-of-type(3){
        position: relative;
        background-color: #fff;
        border-radius: 15%;
        height: 660px;
        z-index: 0;
        top: 120px;
    }

    .quadrado_externo:nth-last-of-type(2){
        position: relative;
        background-color: #fff;
        border-radius: 15%;
        height: 660px;
        z-index: 0;
        top: 160px;
    }
    
    
    .quadrado_externo:nth-last-of-type(1){
        position: relative;
        background-color: #fff;
        border-radius: 15%;
        height: 660px;
        z-index: 0;
        top: 220px;
    }
}