@media(max-width:1920px) {
.section_form{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 1080px;
    height: 850px;
    bottom: 50px;
    box-shadow: 0px 0px 10px #0000004D;
}

.form_title{
    text-align: center;
    color: #63C7A9;
    font-size: 35px;
    font-family: var(--letter-font);
    font-weight: bold;
    margin-top: 84px;
    text-transform: uppercase;
}

.form_subtitle{
    color: black;
    font-size: var(--letter-small);
    font-family: var(--letter-font);
    margin-top: 80px;
    width: 750px;
    margin-left: 200px;
    margin-right: 200px;
}

.form_dates{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.form_dates input{
    width: 242px;
    height: 48px;
    padding-left: 10px;
}

.form_name{
    margin-right: 45px;
}

.form_submit textarea{
    width: 526px;
    height: 196px;
    padding-left: 20px;
    padding-top: 10px;
}

.form_textarea{
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}

.submit{
    margin-left: 276px;
    margin-top: 48px;
    width: 248px;
    height: 48px;
    text-transform: uppercase;
    font-family: var(--letter-text);
    font-size: var(--letter-small);
    color: #fff;
    background-color: #63C7A9;
    border: none;
    }
}


@media(max-width:640px)
{
    .section_form{
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        height: 850px;
        bottom: 50px;
        box-shadow: 0px 0px 10px #0000004D;
    }
    
    .form_title{
        text-align: center;
        color: #63C7A9;
        font-size: 28px;
        font-family: var(--letter-font);
        font-weight: bold;
        margin-top: 84px;
        text-transform: uppercase;
    }
    
    .form_subtitle{
        color: black;
        font-size: var(--letter-small);
        font-family: var(--letter-font);
        margin-top: 80px;
        width: 350px;
        margin-left: 18px;
        margin-right: auto;
    }
    
    .form_dates{
        display: block;
        margin-left: 68px;
    }
    
    .form_dates input{
        width: 242px;
        height: 48px;
        margin-bottom: 28px;
    }
    
    .form_name{
        margin-right: 45px;
    }
    
    .form_submit textarea{
        width: 320px;
        height: 196px;
        padding-left: 20px;
        padding-top: 10px;
    }
    
    .form_textarea{
        margin-left: 46%;
        margin-right: 50%;
        transform: translateX(-50%);
        margin-top: 40px;
    }
    
    .submit{
        margin-left: 80px;
        margin-top: 48px;
        width: 248px;
        height: 48px;
        text-transform: uppercase;
        font-family: var(--letter-text);
        font-size: var(--letter-small);
        color: #fff;
        background-color: #63C7A9;
        border: none;
        }
}